
body{
    padding: 20px;
}


button{
    height: 50px;
    width: 50px;
}

.block {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.result {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.block-cursor{
    margin-top: 50px;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}
