


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(161, 151, 138);
    border: 1px solid black;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}